//CSS Styling

//Sets the width and height of the browser pop-up window
//You need both the HTML and <body> selectors to set the size

html {
    width: 350px;
    height: 300px;
}

body {
    width: 350px;
    height: 300px;
}

h1, h2, h3, h4, h5, h6, li, p {
	margin: 0;
	padding: 0;
}

.inline-display {
	display: inline-block;
}

.logo {
	width: 50px;
	height: 50px;
}

.main-heading {
	background-color: lightgrey;
	padding: 10px 5px;
}

.jumbotron {
	margin: 1em;
	padding: 1em;
}

